* {
    font-family: "Kanit", sans-serif;
    font-weight: 400;
    font-style: italic;
}

.container-alta {
    max-width: 500px;
    margin: 50px auto;
    background-color: #faf7fa;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
}

.h1-alta {
    text-align: center;
    margin-bottom: 30px;
    color: #333333;
}

.div-alta {
    margin-bottom: 30px;
}

.container-alta label {
    font-weight: bold;
    color: #555555;
}

.input-alta {
    width: 100%;
    padding: 10px;
    border: 2px solid #d8f790;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 16px;
    background-color: #f9f9f9;
}

.button-alta {
    display: flex;
    justify-content: center;
    margin-top: 45px;
}

.btn-alta {
    padding: 12px 20px;
    background-color: #232422;
    color: #FFFFFF;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.btn-alta:hover {
    background-color: #353535;
}

.importante-h5 {
    background-color: #E6AFAF;
    margin-top: 35px;
}

.envio-gratis {
    background-color: #7AE07D;
    display: inline;
    padding: 15px 20px;
    border-radius: 4px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.envio-gratis .envio {
    cursor: pointer;
}